<article>
  <h2>{{title}}</h2>
  {{#if imageUrl}}
    <img src="{{imageUrl}}" alt="{{imageAltText}}">
  {{/if}}
  <p>{{{contentWithLineBreaks}}}</p>
  <p><em>Posted by {{author}} on {{date}}</em></p>
</article>
